<div class="container-fluid">
  <div class="row head">Key Mapper</div>
</div>
<div class="container">
  <div class="row main-row">
    <div class="col-md-5 left-sec">
      <label for="exampleFormControlInput1" class="form-label"
        >source api</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="1"
        value="1"
        #input
      />
      <button class="btn btn-primary" (click)="getRawPokemon(input.value)">Get Pokemon</button>

      <div class="card">
        <!-- <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                  

                </div> -->
        <pre><p>{{ api_obj | json}}</p></pre>
      </div>
    </div>
    <div class="col-md-2 mid-sec">
      <div class="card">
        <select class="form-select" aria-label="Default select example" #selectedVal>
          <option selected>Select formatter</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      <button class="btn btn-primary" (click)="getPokemon(selectedVal.value)">Get Pokemon</button>

      </div>
    </div>
    <div class="col-md-5 right-sec">
      <label for="exampleFormControlInput1" class="form-label"
        >Formatted api</label
      >
     <!--  <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="1"
        value="1"
        (keyup.enter)="getPokemon($event.target)"
      /> -->


      <div class="card">
        <pre><p>{{ objJson | json}}</p></pre>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
